name: test

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: test
      run: |
        sudo apt-get update && \
        sudo apt-get install -y python3-dev python3-setuptools openvswitch-switch wget && \
        pip3 install -U pip && \
        pip3 install codecov && \
        pip3 install -U -r test-requirements.txt && \
        export PATH=/home/runner/.local/bin:$PATH
        pylint -E *py && \
        pytype *py && \
        ./test_ovs_pipette.sh && \
        PYTHONPATH=. coverage run test_pipette.py && \
        coverage report pipette.py && \
        coverage xml pipette.py
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.1.0
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      if: github.repository == 'iqtlabs/pipette'
    - name: docker-test
      run: |
        docker build -f Dockerfile -t iqtlabs/pipette .
